.chip-wrapper {
  display: flex;
  overflow: scroll;
}

.alert-container {
  display: flex;
  align-items: center;

  >a {
    font-size: 20px;
    margin-left: 16px;
  }
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
